<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_save_after_data_object">
        <observer name="kirill_cash_observer_backend_customer_saveafterdataobject_customer_save_after_data_object" instance="Kirill\Cash\Observer\Backend\Customer\SaveAfterDataObject"/>
    </event>
</config>
