<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <bonuses>
                <active>1</active>
                <model>Kirill\Cash\Model\Payment\Bonuses</model>
                <order_status>pending</order_status>
                <title>Bonuses</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </bonuses>
        </payment>
        <cashback>
            <general>
                <pct/>
            </general>
        </cashback>
    </default>
</config>
